* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

.vete {
  padding-left: 500px;
  padding-top: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 1px;
  font-family: 'Staatliches', cursive;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.navegacion {
  width: 1300px;
  height: 50px;
  padding-top: -100px;
  text-decoration: none;
  margin: 66px  auto;
  background-color: #ff8800;
  position: fixed;
  top: -77px;
  left: 200px;
  right: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navegacion ul {
  list-style: none;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu > li > a {
  display: block;
  padding: 13px 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/*Submenu*/
.Submenu {
  position: absolute;
  background-color: #ff8800;
  display: none;
  width: 100%;
}

.Submenu li a {
  display: block;
  padding: 3px;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.menu li:hover .Submenu {
  display: block;
}

h1 {
  padding-left: 150px;
  padding-top: 10px;
}

.top {
  width: 100px;
  height: 100px;
  position: fixed;
  padding-top: 50px;
  top: 150px;
  left: 100px;
  right: 50px;
}

.footer {
  background-color: #ff8800;
  padding: 1em 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

header.fondo {
  background-color: #a801a8;
  height: 1800px;
  width: 1800px;
}

h1.quienes {
  color: white;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h3.lorem {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.veterinario {
  height: px;
  width: x;
  padding-top: 3%;
  display: block;
}

.ty {
  font-family: 'Staatliches', cursive;
  padding-left: 100px;
  top: 100px;
  text-align: center;
  text-decoration: none;
  color: #ff8800;
  border: 1px black;
}

.p {
  font-family: 'Staatliches', cursive;
  text-decoration: none;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Contactos*/
.fond {
  background-color: grey;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactanos {
  text-align: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  padding-right: 170px;
  padding-top: 160px;
  font-family: 'Staatliches', cursive;
}

.option {
  padding-left: 510px;
  padding-top: 20px;
}

.subtitulo {
  padding-left: 480px;
  padding-top: 1px;
  font-family: 'Staatliches', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ayuda {
  text-decoration: none;
  padding-left: 460px;
  text-decoration: none;
  font-family: 'Staatliches', cursive;
  padding-top: 10px;
}

.numero {
  padding-top: 1%;
  padding-left: 560px;
}

/*Nosotros*/
.fondo {
  background-color: #e4e3e3;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foto {
  padding-top: 80px;
}

.titulo {
  text-align: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  padding-right: 170px;
  padding-top: 140px;
  font-family: 'Staatliches', cursive;
}

.noso {
  text-align: center;
  text-decoration: none;
  display: block;
  font-style: italic black;
}

/*Productos*/
.fondo1 {
  background-color: #dbd9d9;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
}

.bolsa {
  height: 450px;
  width: 470px;
  padding-top: 30px;
  padding-left: 400px;
}

.product {
  text-align: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  padding-right: 140px;
  padding-top: 140px;
  font-family: 'Staatliches', cursive;
}

/*SDSA*/
.titulo {
  text-align: center;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  padding-right: 160px;
  padding-top: 140px;
  font-family: 'Staatliches', cursive;
}

.fondo {
  background-color: #e4e3e3;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitulo {
  padding-right: 500px;
  padding-top: 1px;
  font-family: 'Staatliches', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitulo1 {
  padding-right: 20px;
  padding-top: 0px;
  font-family: 'Staatliches', cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.numero {
  padding-top: 4px;
  padding-right: 500px;
}
/*# sourceMappingURL=styles.css.map */