.navegacion{
    width: 2000px;
    height: 50px;
    padding-top: -1000%;
    text-decoration: none;
    margin: 66px  auto;
    background-color: rgb(255, 136, 0);
    position: fixed;
    top: -70px;
    left: -100px;
    right: 33%;
    display: flex;
    justify-content: space-evenly;
}

.navegacion ul{
    list-style: none;
    
}


.menu > li{
    position: relative;
display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 13px 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}

/*Submenu*/

.Submenu{
    position: absolute;
    background-color: rgb(255, 136, 0);
    display: none;
    width: 100%;
    
}
.Submenu li a{
    display: block;
    padding: 3px;
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.menu li:hover .Submenu{
    display: block;
}

h1{
    
    padding-left: 150px ;
    padding-top: 10px;
    
    
  
    
}
.top{
    width: 100px;
    height: 100px;
    position: fixed;
    padding-top: 50px;
    
    
    top: 150px;
    left: 100px;
    right: 50px;
}


header.fondo{
    background-color: rgb(168, 1, 168);
    height: 1800px;
    width: 1800px;
}

h1.quienes{
    color: white;
    text-decoration: none;
    

 
  
    flex-direction: column;
    

}
h3.lorem{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 80px;
    padding-left: 10px;
    flex-direction: column;
    align-content: center;
    
    
}
.veterinario{
    height: px;
    width: x;
    padding-top: 3%;
    display: block;
    
    

}
.ty{
    font-family: 'Staatliches', cursive;
    padding-left: 100px;
    top: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 136, 0);
    border: 1px black;
    
}
.p{
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    text-align: center; 
    justify-content: center;
}