/*Contactos*/

.fond{
    background-color: grey;
    text-align: center;
    justify-content: center;

}
.contactanos{
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: block;
    padding-right: 170px;
    padding-top: 160px;
    font-family: 'Staatliches', cursive;
    
    
}
.option{
    padding-left: 510px;
    padding-top: 20px;
    
    
}
.subtitulo{
    padding-left: 480px;
    padding-top: 1px;
    font-family: 'Staatliches', cursive;
    justify-content: center;

}

.ayuda{
    text-decoration: none;
    padding-left: 460px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    padding-top: 10px;
}
.numero{
    padding-top: 1%;
    padding-left: 560px;
}