.fondo{
    background-color: rgb(228, 227, 227);
    text-align: center;
    justify-content: center;
}
.foto{
    padding-top: 80px;
}
.titulo{
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: block;
    padding-right: 170px;
    padding-top: 140px;
    font-family: 'Staatliches', cursive;
}
.noso{
    text-align: center;
    text-decoration: none;
    display: block;
    font-style: italic
}